ARR_INSTANCES={
  "radarr":[{"name":"radarr","url":"http://radarr:7878","key":"RADARR_KEY"}],
  "sonarr":[{"name":"sonarr","url":"http://sonarr:8989","key":"SONARR_KEY"}]
}

DRY_RUN=true
RUN_MODE=loop
RUN_INTERVAL_MINUTES=360
SONARR_MAX_EPISODES_PER_RUN=50
